# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
#pokemon.Legendary.unique()
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
legendary_mean= pokemon[pokemon['Legendary']==True]['Total'].mean()
print('legendary_mean: ',legendary_mean)

legendary_std= pokemon[pokemon['Legendary']==True]['Total'].std()
print('legendary_std: ', legendary_std)

legendary_mean:  637.3846153846154
legendary_std:  60.93738905315346

In [6]:
non_legendary_mean= pokemon[pokemon['Legendary']==False]['Total'].mean()
print('non_legendary_mean: ',non_legendary_mean)

non_legendary_std= pokemon[pokemon['Legendary']==False]['Total'].std()
print('non_legendary_std: ', non_legendary_std)

non_legendary_mean:  417.21360544217686
non_legendary_std:  106.76041745713022

In [8]:
#otra podría ser....
pokemon.groupby(['Legendary']).agg({'Total':['mean','std']})

                Total
                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [9]:
# Your code here:
from scipy.stats import ttest_ind, ttest_ind_from_stats

In [11]:
legendary=pokemon[pokemon['Legendary']==True]['Total']
non_legendary=pokemon[pokemon['Legendary']==False]['Total']

In [16]:
statistics, pvalue = ttest_ind(non_legendary,legendary, equal_var=False)
print("statistics =", statistics, "pvalue=", pvalue)

statistics = -25.8335743895517 pvalue= 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

#Con pvalue rechazamos hipótesis nula porque es cercano a cero, y con esto podemos ver
#que la distancia entre los dos puntos es suficiente para decir que es diferente.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [20]:
# Your code here:
pokemon['Name'].groupby(pokemon['Type 1']).agg('count')

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
# Your code here:
waterpokemon = pokemon[pokemon['Type 1']=='Water']
non_waterpokemon = pokemon[pokemon['Type 1']!='Water']

ttest_ind(waterpokemon.Total, non_waterpokemon.Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [22]:
# Your conclusions here:

#Pvalue es casi cercano a 1, así casi no hay diferencia entre los dos.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [27]:
# Your code here:
from scipy.stats import ttest_rel

In [29]:
attack=pokemon['Attack']
defense=pokemon['Defense']

In [30]:
print("Attack:", attack.mean())
print("Defense:",defense.mean())

Attack: 79.00125
Defense: 73.8425

In [31]:
ttest_rel(attack,defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#Como pvalue es menor a .05 creo que podemos rechazar la hipotesis nula

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [13]:
# Your code here:

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: